@charset 'UTF-8';
body {
    background: #eceddd;
    color: #333;
    font-family: sans-serif;
}
input[type="text"], input[type="password"], select, textarea {
    border-radius: 2px;
}
#header .container-fluid {
    position: relative;
}
#header #brand {
    margin: 20px 0;
}
#header #header-tel {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 230px;
}
.container-fluid {
    max-width: 1400px;
    margin: 0 auto;
}
#main {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
#main > h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "小塚明朝 Pro R", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: normal;
}
#main h2 {
    font-size: 21px;
    font-weight: normal;
}
.aside-sidebar {
    background: #fff;
    margin-bottom: 20px;
}
.aside-sidebar nav ul, #nav-home ul {
    margin: 0;
    padding: 0 10px;
}
.aside-sidebar nav li, #nav-home li {
    list-style: none;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    margin: 0;
    padding: 0;
}
.aside-sidebar nav li a, #nav-home li a {
    display: block;
    padding: 15px 0;
    display: block;
    text-align: center;
    color: #333;
}
.aside-sidebar nav li:last-child, #nav-home li:last-child {
    border-bottom: none;
}
.aside-sidebar form {
    padding: 10px;
}
input#id_zipcode + .help-inline {
    margin-bottom: 9px;
}
#partial-form-group .actions {
    text-align: right !important;
}
#partial-form-group section > h2 {
    opacity: 0.5;
}
#partial-form-group section.active > h2, #partial-form-group section.bound > h2 {
    opacity: 1 !important;
}
.btn {
    white-space: nowrap;
}
.btn-primary {
    background: #029749;
    color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #017136;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.btn-primary.disabled, .btn-primary[disabled] {
    background: #3b8a61;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.header-number {
    margin-right: 5px;
}
.required {
    margin-left: 7px;
}
#btn-copy-step2-data {
    margin-bottom: 20px;
}
.control-group {
    margin-bottom: 20px;
}
.control-label {
    color: #734500;
}
.help-block {
    font-size: 12px;
}
.inline-content {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ebebeb;
    background: #fafafa;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.6;
}
.inline-content h1 {
    font-size: 18px !important;
    font-weight: normal !important;
}
.inline-content h2 {
    font-size: 16px !important;
}
.inline-content li {
    margin-bottom: 1em;
}
#copyright {
    padding: 20px 0;
    text-align: right;
}
.sub-actions {
    font-size: 12px;
    margin-top: 10px;
}
.pickups {
    padding: 10px;
    background: #eee;
    margin-bottom: 20px;
}
form .alert-error {
    margin-bottom: 7px;
}
.item-num-label {
    white-space: nowrap;
    margin-left: 14px;
}
#header-login {
    display: none;
}
.btn-edit {
    white-space: nowrap;
}
@media screen and (max-device-width: 480px) {
    #brand img {
        width: 130px;
    }
    #header-tel {
        display: none;
    }
    #header-login {
        display: block;
        position: absolute;
        top: 40px;
        right: 0px;
        width: 100px;
        text-align: right;
    }
    #main > h1 {
        font-size: 32px;
    }
    .header-number img {
        width: 21px;
        margin-bottom: 5px;
    }
}