@charset 'UTF-8';

body {
    background: #eceddd;
    color: #333;
    font-family: "メイリオ", Meiryo, sans-serif;
}

input, select, option, textarea {
    font-family: "メイリオ", Meiryo, sans-serif;
}


input[type="text"], input[type="password"], select, textarea {
    border-radius: 2px;
}

#header {
    background: #514e36;
    margin-bottom: 15px;
    background: #666243; /* Old browsers */
    background: -moz-linear-gradient(top,  #666243 0%, #413e2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666243), color-stop(100%,#413e2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #666243 0%,#413e2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #666243 0%,#413e2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #666243 0%,#413e2b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #666243 0%,#413e2b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666243', endColorstr='#413e2b',GradientType=0 ); /* IE6-9 */

}

#header .container-fluid {
    position: relative;
}

#header #brand {
    margin: 20px 0;
    background: url(../img/bg_header.png) no-repeat 50% 50%;
}

#header #brand a {
    display: block;
    width: 325px;
    margin: 0 auto;
}

#header #header-tel {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 230px;
}

#lead {
    background: #beba9c;
    text-align: center;
    font-size: 12px;
}

#tel-box {
    text-align: center;
    color: #fff;
    background: #3d0000;
    padding: 3px 0;
    font-size: 12px;
}

#main {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#main > h1 {
    /* margin-top: 0; */
    margin-bottom: 20px;
    /* font-size: 48px; */
    /* font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","小塚明朝 Pro R","ＭＳ Ｐ明朝","MS PMincho",serif; */
    font-weight: normal;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    font-size: 21px;
    padding-left: 10px;
}

#main h2 {
    font-size: 21px;
    font-weight: bold;
}

#main ol > li > ol {
    margin-bottom: 20px;
}

.aside-sidebar {
    background: #fff;
    margin-bottom: 20px;
}

.aside-sidebar nav ul,
#nav-home ul {
    margin: 0;
    padding: 0 10px;
}

.aside-sidebar nav li,
#nav-home li {
    list-style: none;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    margin: 0;
    padding: 0;
}

.aside-sidebar nav li a,
#nav-home li a {
    display: block;
    padding: 15px 0;
    display: block;
    text-align: center;
    color: #333;
}

.aside-sidebar nav li:last-child,
#nav-home li:last-child {
    border-bottom: none;
}

.aside-sidebar form {
    padding: 10px;
}

input#id_zipcode + .help-inline {
    margin-bottom: 9px;
}


#partial-form-group .actions {
    text-align: right !important;
}

#partial-form-group section > h2 {
    opacity: 0.5;
}

#partial-form-group section.active > h2,
#partial-form-group section.bound > h2 {
    opacity: 1 !important;
}

.btn {
    background: #ddd;
    color: #444;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #ccc;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.btn-primary {
    background: #029749;
    color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    padding: 7px 20px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #017136;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.btn-primary.disabled,
.btn-primary[disabled] {
    background: #3b8a61;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.header-number {
    margin-right: 5px;
}

.required {
    margin-left: 7px;
}

#btn-copy-step2-data,
#btn-copy-step1-data {
    margin-bottom: 20px;
}

.control-group {
    margin-bottom: 20px;
}

.control-label {
    color: #734500;
}

.help-block {
    font-size: 12px;
}

.inline-content {
    height: 200px;
    overflow: auto;
    border: 1px solid #ebebeb;
    background: #fafafa;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.6;
    -webkit-overflow-scrolling: touch;
}

.inline-content h1 {
    font-size: 18px !important;
    font-weight: normal !important;
}

.inline-content h2 {
    font-size: 16px !important;
}

.inline-content li {
    margin-bottom: 1em;
}

#copyright {
    padding: 20px 0;
    text-align: right;
}

.sub-actions {
    font-size: 12px;
    margin-top: 10px;
}

.pickups {
    padding: 10px;
    background: #eee;
    margin-bottom: 20px;
}

form .alert-error {
    margin-bottom: 7px;
}

.item-num-label {
    white-space: nowrap;
    margin-left: 14px;
}

#header-login {
    display: none;
}

#notifer {
    position: absolute;

}

.section-form {
    border-bottom: 1px solid #ddd;
}

.section-form:last-child {
    border-bottom: none;
}

.member-notice {
    padding: 10px;
    border: 3px solid #d7ddce;
    border-radius: 10px;
    max-width: 469px;
}

.member-notice h2 {
    color: #959a48;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 1;
}

.disclaimer_common h2{
    border-bottom:1px dotted rgb(87, 49, 49); 
    color: #3D0000;
}

@media only screen and (max-width: 480px) {
    #header {
        margin-left: -20px;
        margin-right: -20px;
        overflow: hidden;
    }

    #brand {
        background-image: none !important;
        width: 150px;
        margin-left: 20px !important;
    }

    #brand img {
        width: 130px;
    }


    #header-tel {
        display: none;
    }

    #header-login {
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
        width: 100px;
        text-align: center;
        background: #7d7853;
        padding: 5px 0;
    }

    #header-login a {
        color: #fff;
    }

    #main > h1 {
        /* font-size: 32px; */
    }

    .header-number img {
        width: 21px;
        margin-bottom: 5px;
    }

    .control-group {
        overflow: hidden;
    }

    #lead {
        display: none;
    }

    #tel-box {
        display: none;
    }


}

@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    #header {
        margin-left: -20px;
        margin-right: -20px;
        overflow: hidden;
    }

    #brand {
        background-image: none !important;
        width: 150px;
        margin-left: 20px !important;
    }

    #brand img {
        width: 130px;
    }


    #header-tel {
        display: none;
    }

    #header-login {
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
        width: 100px;
        text-align: center;
        background: #7d7853;
        padding: 5px 0;
    }

    #header-login a {
        color: #fff;
    }

    #main > h1 {
        /* font-size: 32px; */
    }

    .header-number img {
        width: 21px;
        margin-bottom: 5px;
    }

    .control-group {
        overflow: hidden;
    }

    #lead {
        display: none;
    }

    #tel-box {
        display: none;
    }


}

